<html >
  <head>
    <title>Hi there !</title>
  </head>
  <body>
    <script type="text/javascript">
      window.onload = function() {
        var conn = new WebSocket('ws://localhost:8001');
        var video = document.getElementById("video");
        
        var b = document.getElementById("button");

        b.onclick = function () {
          if(video.paused) {
            conn.send('play'+video.currentTime);
          }else {
            conn.send('pause0');
          }
        }
        conn.onmessage = function(ev) {
          console.log("Message received! "+ev.data);
          if(/^pause\S+$/.test(ev.data)) {
            console.log("Received a pause !");
            video.pause();
          } else if (/^play\d+(.\d+)?$/.test(ev.data)) {
            console.log("Received a play !");
            var sizeP = "pause".length;
            var time = parseFloat(ev.data.substring(sizeP - 1, ev.data.length));
            console.log("The time to set "+time);
            video.currentTime = time;
            video.play();
          }
        }
      }
    </script>

    <center>
    <h1>My simple video synch</h1>
    </center>
    <p>We synchronize the video played !</p>
    <p>
    <video id="video" width="400">
      <source src="../videos/longer.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
   </p>
   <center>
   <p>
    <input type="submit" id="button" value="Play/Pause"/> 
   </p>
   </center>
  </body>
  
</html>
